<html>
	<head>
		<title>Admin Page</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
	</head>
	<body>
		<h1>Admin Page</h1>
		<div id='main'>
		<div id='DownloadData'>
			<form action="/downloadData" method="get">
				<input type="submit" value="Download Data"/>
			</form>
		</div>
		<div id='ClearData'>
			<form action="/clearData" method="get">
                                <input type="submit" value="Clear Data"/>
                        </form>
		</div>
		<div id='ChangePW'>
			<form action="/updatePassword" method="post">
				<div>Password: </div>
                		<div><input type="password" name="pwd" size=35/></div>
                                <input type="submit" value="Update Password"/>
                        </form>
		</div>
		<div id='Logout'>
			<form action="/logout" method="post">
                		<input type="submit" value="Logout"/>
			</form>
		</div>
		</div>
	</body>

</html>
